$light-color: white;
$primary-font-family: "Times New Roman";
$secondary-font-family: "Avenir Next";

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.blue-bg {
  background-color: #00B0F0;
  color: white;
}

.text-small {
  font-size: 0.6em;
}
