$light-color: white;
$primary-font-family: "Times New Roman";
$secondary-font-family: "Avenir Next";

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.brand-pink {
  color: #ff4ffe;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.black-bg {
  background-color: #000000;
  color: white;
}

.blue-bg {
  background-color: #00B0F0;
  color: white;
}

.no-child-margin > * {
  margin: 0;
}

.text-small {
  font-size: 0.6em;
}
